body {
    background: gray;
    background: radial-gradient(circle at 80px 40px, #f9eec7, peachpuff, gray);
    padding: 20px;
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.article {
  background: plum;
  border: 3px solid black;
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 4px 4px 5px -2px whitesmoke;
  padding: 3px 5px;
}

.news__author {
  text-decoration: underline;
  color: black;
  width: max-content;
}

.news__author:hover{
  cursor: pointer;
}

.news__count {
  margin: 10px 0 0 0;
  display: block;
}

.people:hover{
  cursor: pointer;